modules = ["web", "nodejs-20"]
run = "python3 -m http.server 3000"
entrypoint = "index.html"


[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m http.server 3000"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
